@import "../var.scss";

#header {
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid $grey-light;

  .link {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.8rem;
    padding: 0.5rem 0.8rem;
    border-radius: 10px;

    &.selected {
      color: green;
      background: $grey-extra-light;
    }

    &:hover {
      cursor: pointer;
      background: $grey-extra-light;
    }
  }

  .address {
    margin-left: auto;
    margin-right: 1rem;
    margin-bottom: 0;
    font-size: 1.1rem;
  }
}
