@import "../var.scss";

.no-wallet-warning {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    font-size: 1.1rem;
    color: $grey-dark;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  button {
    padding-left: 4rem;
    padding-right: 4rem;

    &:hover {
      cursor: pointer;
    }
  }
}
