@import "../var.scss";

.market-container {
  flex: 1;
  display: flex;
  flex-direction: row;

  .sidebar {
    width: 21vw;
    height: 100%;
    border-right: 1px solid $grey-light;
    padding: 12px;

    .symbol-select-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .symbol-select {
        font-size: large;
      }
    }
  }

  select {
    width: auto;
    padding: 0.5rem 1rem;
    border: none;
    color: $grey-dark;

    &:focus {
      outline: none;
    }
  }
}

.long-short-box {
  display: flex;
  justify-content: center;
}

.submit-box {
  display: flex;
  justify-content: center;
}
